<h3><%= post.id ? "Edit Post" : "Create a Post" %></h3>
<form class="post-edit-form">

<label>Title
  <input type="text" name="post[title]" value="<%= post.escape("title") %>">
</label>
<br>
<label>Body
  <input type="text" name="post[body]" value="<%= post.escape("body") %>">
</label>
<br>
<input type="submit" value="submit">
</form>

<a href="#/<%= post.id ? "posts/" + post.id : "" %>">Cancel</a>
