<h3>Posts</h3>

<ul>
  <% posts.models.forEach(function(post) { %>
    <li>
      <a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>
      <button data-id="<%= post.id %>" class="delete-button">delete</button>
    </li>

  <% }); %>
</ul>

<a href="#/posts/new">Create Post</a>