<h1>Journal</h1>

<div id="sidebar"></div>
<div id="content"></div>

<script type="application/javascript">
  var posts = <%= @posts.to_json.html_safe %>
  var $content = $('#content');
  var $sidebar = $('#sidebar');

  $(document).ready(function(){
    window.Journal.initialize(posts, $content, $sidebar);
  });
</script>