/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sidebar {
  float: left;
  padding: 40px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
}

#content {
  float: left;
  padding: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 300px;
}


